h1{color: #e600e6;}
h2{color: #ff0055;}
h4{color: #ff0066;}

p{font-family:'Xanh Mono', monospace; }
h3{
font-family:'Xanh Mono', monospace; }
h5{font-family:'kosugi Maru', san-serif;}
h6{font-family:'Nixie One',cursive;}
.yellow{background-color:yellow;}
.blue{background-color:blue;}
.purple{background-color:purple;}
.pink{background-color:pink;}